<!DOCTYPE html>
<html>
    <head>
    	<meta charset="UTF-8">
        <title>Rosetta</title>
        <script data-main="scripts/main" src="vendor/requirejs/require.js"></script>
        <link href="styles/styles.css" rel="stylesheet">
    </head>
    <body ng-controller="MainCtl">
        <h1>Welcome to Rosetta</h1>
        <h2>{{greeting}}</h2>
        <div ng-view></div>
    </body>
</html>
